;; -*- mode: emacs-lisp; coding: emacs-mule; -*-
;; --------------------------------------------------------------------------
;; Desktop File for Emacs
;; --------------------------------------------------------------------------
;; Created Thu Jun 23 12:46:17 2016
;; Desktop file format version 206
;; Emacs version 24.3.1

;; Global section:
(setq desktop-missing-file-warning nil)
(setq tags-file-name nil)
(setq tags-table-list nil)
(setq search-ring '("revivew" "evil-orgq" "squ"))
(setq regexp-search-ring nil)
(setq register-alist nil)
(setq file-name-history '("/var/www/html/cartogramas/js/app.js" "/home/desa4/.emacs.d/ac-comphist.dat" "/home/desa4/.emacs.d/init.el"))

;; Buffer section -- buffers listed in same order as in buffer list:
(desktop-create-buffer 206
  "/home/desa4/.emacs.d/init.el"
  "init.el"
  'emacs-lisp-mode
  '(undo-tree-mode yas-minor-mode auto-complete-mode custom-keys-minor-mode)
  2565
  '(2546 nil)
  nil
  nil
  '((buffer-file-coding-system . undecided-unix) (overwrite-mode)))

(desktop-create-buffer 206
  "/var/www/html/cartogramas/js/app.js"
  "app.js"
  'js-mode
  '(undo-tree-mode yas-minor-mode auto-complete-mode custom-keys-minor-mode)
  4606
  '(4606 nil)
  nil
  nil
  '((buffer-file-coding-system . undecided-unix) (overwrite-mode)))

